.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.not-found-content h1 {
  font-size: 4rem;
  margin-bottom: var(--spacing-md);
  color: var(--color-text-secondary);
}

.not-found-content h2 {
  margin-bottom: var(--spacing-md);
  color: var(--color-text);
}

.not-found-content p {
  margin-bottom: var(--spacing-xl);
  color: var(--color-text-secondary);
  font-size: var(--font-size-lg);
}